
.containerandsidebar{
    
    border: 2px solid rgb(192, 57, 43);
    padding: 20px;
}

.sidebar1{
    overflow: auto;
    display: inline-block;
    width: 20%;
    padding: 20px;
    background-color: rgb(236, 240, 241);
    border: 2px solid rgb(192, 57, 43);
} 


.sidebar1 p span {display:block;}

.sl {width:200px; height: 200px; background: green;}

.content1{
    display: inline-block;
    position:relative;
    width: 60%;
    padding:20px;
   
    text-align: center;
    text-decoration: line-through; 
    border: 2px solid rgb(192, 57, 43);
}

.cl, .cb {position:absolute; width:200px; height: 200px; background: red;}
.cl {right: 50px; bottom: 50px;}
.cb {background: blue; left:-50px; top:-50px;}

.clear {clear: both;}
