
.l{
   width: 100%;
   background: url("/img/p.jpg") no-repeat fixed top center;
   height: 310px;
}

.container{
 
   text-align: center;
   line-height: 25px;
  
}

.container input[type="button"]{ 
    line-height: 15px;
    display: inline-block;
    background-color: #9f7251;
    border: 1px solid #714f33;
    margin-right: 10px;
    padding: 8px 12px;
    color: #f8dcc6;
    font: 12px;
}

.div3{
    text-align: center;
    padding-left: 30px;
    line-height: 100px;
    font-size: 14px;
    
}
.div3 span{
    font-weight: 400;
    
}
.div3 p{
    display: inline-block;
}
.div3 li{
    display:inline-block;
    list-style: none; 
    padding-right: 2px;
   
}
.div3 li::before{content:"|"; padding: 0 5px;}

.div3 li:first-child::before{content: " ";}

.div3 li:first-child{
    font-weight: bold;
}

.div3 a{
    text-decoration: none;
    border-bottom: 1px dotted blue; 
}

.div4 {
    
   margin: auto;
    
}

.div4 form{
    
    
    
}