.task{
    position: relative;
    background-color: rgb(41, 128, 185);
    border: 2px solid red;
    width: 700px;
    height: 400px;
    margin: 50px auto;
    }
.task p{
    color: rgb(241, 196, 15);
    font-size: 25px;
}


.blb, .tlb{
    background-color: rgb(230, 126, 34);
    border: 2px solid black;
    border-radius: 15px;
    position: absolute;
    text-align: center;
    text-transform:uppercase;
    color:beige;
    }
.blb p, .tlb p {padding:10px 20px; line-height: normal;}
.blb {left: -20; top: -20;}
.tlb {left: -20; bottom: 20;}

.rtb{
    font-size: 50px;
    color: rgb(231, 76, 60);
    position:absolute;
    right:50;
    top: -75;
    z-index: 1px;
}
.rtb

